@use '../abstracts' as *;

.container {
	width: min(88%, 920px);
	margin-inline: auto;
	border-radius: 0.5rem;
	overflow: hidden;
}

.grid-cols-3 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.card--bg-400 {
	background-color: $clr-primary-400;
}

.card--bg-700 {
	background-color: $clr-primary-700;
}

.card--bg-900 {
	background-color: $clr-primary-900;
}

.btn--primary-400 {
	color: $clr-primary-400;
}

.btn--primary-700 {
	color: $clr-primary-700;
}

.btn--primary-900 {
	color: $clr-primary-900;
}
