@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$ff-primary: 'Lexend Deca', sans-serif;
$ff-secondary: 'Big Shoulders Display', cursive;

$fs-40: 2.5rem;
$fs-15: 0.9375rem;
